services:
  - type: web
    name: GanadoPy
    runtime: python3.10
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: CLOUD_API_KEY
        sync: false
      - key: CLOUD_API_SECRET
        sync: false
      - key: CLOUD_NAME
        sync: false
      - key: JWT_SECRET_KEY
        sync: false
