services:
  - type: web
    name: ganado-backend
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: FLASK_ENV
        value: production
      - key: CLOUDINARY_URL
        value: cloudinary://TU_API_KEY:TU_API_SECRET@TU_CLOUD_NAME
